#behaviorChart svg {
    height: 200px;
}

.tick {
    display: none;
}

.nv-legendWrap {
    opacity: 0;
}

.nv-y .nv-axis {
    opacity: 0;
}

.ca-legend {
    width: 80%;
    margin: 0 auto;
}

.ca-legend div {
    float: left;
}

.ca-box {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 5px;
}

.ca-box-coding {
    background-color: #8CC63F;
}

.ca-box-debugging {
    background-color: #F7A200;
}

.ca-box-building {
    background-color: #E01BAB;
}